/* Adicione aqui todas as suas personalizações de CSS */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #777777;
}

.btnAdd {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #47a447;
	border-color: #47a447;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    margin-right: 5px;
    text-decoration: none;
}

.btnAdd:hover {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #47a447da;
	border-color: #47a447;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    margin-right: 5px;
    text-decoration: none;
}

.btnCan {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d9a704;
	border-color: #d9a704;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    margin-right: 5px;
    text-decoration: none;
}

.btnCan:hover {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d9a704c7;
	border-color: #d9a704;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    margin-right: 5px;
    text-decoration: none;
}

.btnRed {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d43131;
	border-color: #d43131d5;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 5px;
}

.btnRed:hover {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d43131d5;
	border-color: #d43131d5;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 5px;
}

.btnBlue {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0e53e9;
	border-color: #0e53e9;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
}

.btnBlue:hover {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0e53e9e7;
	border-color: #0e53e9e7;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
}

.barGreen {
    color: white;
    background-color: rgb(23, 161, 23);
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 3px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.barRed {
    color: white;
    background-color: rgb(199, 36, 36);
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 3px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.btnCNPJ {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #47a447;
    border-color: #47a447;
    white-space: normal;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    align-items: flex-start;
    text-indent: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.btnAtleticas {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #47a447;
    border-color: #47a447;
    white-space: normal;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    align-items: flex-start;
    text-indent: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}